{% load unicorn %}
{% unicorn_scripts %}
{% csrf_token %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<!-- gets axios for communicating with python -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link href="/static/css/contents.css" rel="stylesheet" type="text/css">
<script src="/static/js/bill_button.js"></script>

<div>

    <table>
        {% if rows %}
        <tbody>
            {% for row in rows %}
            <!-- <li>{{ row }}</li> -->
            <!-- <button unicorn:click="add_bill(row)">Add</button> -->
            
            <tr>
                <td><button onclick="bill_button( {{ forloop.counter }} )">Add to bill list</button> </td>
                {% for datum in row %}

                <td>{{ datum }}</td>
                    
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        {% else %}
        No bills found
        {% endif %}
    </table>
</div>