{% load unicorn %}{% csrf_token %}
{% load bootstrap5 %  }{% bootstrap_css %}{% bootstrap_javascript %}
<!-- {% extends "master.html" %}' -->
<link href="/static/css/contents.css" rel="stylesheet" type="text/css">


<div>
    

    <table>
        {% if rows %}
        <tbody>
            {% for row in rows %}
            <!-- <li>{{ row }}</li> -->
            <button unicorn:click="add_bill(row)">Add</button>

            <tr>
                {% for datum in row %}

                <td>{{ datum }}</td>
                    
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        {% else %}
        No bills found
        {% endif %}
    </table>
</div>