{% extends "master.html" %}
{% csrf_token %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}


{% block title %}Bill Add{% endblock %}

{% block content %}
<script type="text/javascript">
    var rows  = {{js_rows|safe}};
</script>

<!-- gets axios for communicating with python -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link href="/static/css/contents.css" rel="stylesheet" type="text/css">
<script src="/static/js/bill_button.js"></script>

<div id="bill-table">

    <table>
        {% if rows %}
        <tbody>
            {% for row in rows %}            
            <tr>
                <td><button class="button-18" role="button" onclick="bill_button( {{ forloop.counter0 }} )">Add</button> </td>
                {% for datum in row %}

                <td>{{ datum }}</td>
                    
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        {% else %}
        No bills found
        {% endif %}
    </table>
</div>
{% endblock %}