<!DOCTYPE html>
{% load unicorn %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html>
  <link href="/static/css/contents.css" rel="stylesheet" type="text/css">
<head>
  {% unicorn_scripts %}
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  {% csrf_token %}
<div class="container bg-less-black" >
  <ul class="nav bg-washed-blue">
    <li class="nav-item">
      <a class="nav-link link-light" href="/">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/bills/">ALL BILLS</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link link-light" href="/search/">BILL SEARCH</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link link-light" href="/mybills">MY BILLS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/billadd">ADD BILLS TO LIST</a>
    </li>
    <li class="nav-item">
      <a class="nav-link link-light" href="/accounts/signup">SIGNUP</a>
    </li>
  </ul>

  {% block content %}
  {% endblock %}
</div>
</body>
</html>